<header>
  <nav>
    <div class="header_left">
      <i class="fa-solid fa-house"></i>
    </div>
    <div class="header_title">Restaurant</div>
    <div class="header_right">
      <i class="fa-solid fa-right-to-bracket"></i>
      <i class="fa-solid fa-list"></i>
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
  </nav>
</header>
