@use 'fonts';

$element-bg-color: rgb(245, 245, 245);

header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: $element-bg-color;

  height: 75px;
  width: 100%;
  box-shadow: 5px 5px 5px rgb(100, 100, 100);

  nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;


    i{
      font-size: 14pt;
      padding: 15px;
      color: black;
    }

    .header_right {
      i {
        padding-right: 10px;
      }
    }
    .header_title {
      font-family: 'Berlin Sans FB';
      font-size: 30px;
    }
  }
}
