@use 'fonts';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-family: 'norms';
  background: rgb(245,245,245);

  main {
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 225, 225);
    width: 100%;
    align-items: center;
    height: 100vh;
    .menu_item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 10px;
    }
    .body_item_left{
      display: flex;
      img {
        width: auto;
        height: 250px;
        margin-right: 10px;
      }
    }
    .body_item_center{
      display: flex;
      flex-direction: column;
      .item_title_price{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .body_item_right{

      margin-left: 100px;
      input{
        height: 50px;
        width: 50px;
      }
    }

    .confirmation_bar {
      display: flex;
      background-color: antiquewhite;
      justify-content: flex-end;
      width: 80vw;
      margin: 10px;
      padding: 10px;

      button {
        margin: 10px;
      }
    }
  }
}

.foodItem {
  display: flex;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  width: 80vw;
  flex-direction: row;
  justify-content: space-between;

  margin: 10px;
  padding: 10px;

  border: solid;

  img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    object-position: center;
    border: solid;
    border-radius: 10px;
  }

  button {
    border: solid;
    border-radius: 10px;
  }

  #foodDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 7px;
  }

  #foodInformation {
    padding-left: 10px;
  }

  #foodNameAndPrice {
    font-weight: bold;
  }

  .editCart {
    display: flex;
    justify-content: space-evenly;
    input{
      height: 25px;
      width: 50px;
      align-self: center;
    }
  }

  form {
    align-self: center;
  }

  input {
    width: 45px;
    border: solid;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
  }
}

.allUsersOrders {
  margin-top: 20px;

  background-color: antiquewhite;
  border-radius: 20px;
  .order {
    display: flex;
    flex-direction: column;
    padding: 10px;

  }
}
