@use 'fonts';

p { margin: 0 }
ul { 
  margin: 0px;
  margin-bottom: 10px;
}
li { margin: 0px }

@mixin border {
  border: solid;
  border-width: 3px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  font-size: 14pt;
  background-color: rgb(225, 225, 225);


  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 30px;

    img {
      width: auto;
      height: 250px;
      margin-right: 10px;
    }

    input{
      height: 30px;
      width: 50px;
    }

    button {
      margin: 10px;
    }

    .subtotal_box {
      display: flex;
      justify-content: row;
    }
    .confirmation_bar {
      display: flex;
      background-color: antiquewhite;
      justify-content: flex-end;
      width: 80vw;
      margin: 10px;
      padding: 10px;
    }

  }
}

.foodItem {
  display: flex;
  background-color: rgb(235, 235, 235);
  width: 80vw;
  flex-direction: row;
  justify-content: space-between;

  margin: 10px;
  padding: 10px;

  @include border;
  border-radius: 15px;

  box-shadow: 0 5px 5px rgb(100, 100, 100);

  img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    object-position: center;
    @include border;
    border-radius: 10px;
  }

  .editCart {
    display: flex;
    justify-content: space-evenly;
  }

  form {
    align-self: center;
  }

  input {
    font-family: 'TT-Norms-Medium';
    font-size: 15pt;

    width: 55px;
    height: 38px;
    @include border;
    border-radius: 8px;

    padding-left: 8px;
    padding-bottom: 2px;
    margin: 5px;

    background-color: rgb(235, 235, 235);
  }
}

.allUsersOrders {
  margin-top: 20px;

  background-color: antiquewhite;
  @include border;
  .order {
    display: flex;
    flex-direction: column;
    padding: 10px;

  }
}

button {
  @include border;
  border-radius: 8px;
  font-family: 'TT-Norms-Medium';
  font-size: 15pt;
  padding: 5px 10px 5px 10px;
}

button:hover {
  cursor: pointer;
}

#foodDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 8px 0 8px 15px;
}

#foodInformation {
  padding-left: 10px;
  
  p {
    margin: 10px;
  }

}

.foodNameAndPrice {
  font-size: 18pt;
  font-family: 'TT-Norms-Medium';
}

.foodItemDescription {
  font-size: 15pt;
  font-family: 'TT-Norms-Regular';
  font-variant-ligatures: none;
}

.buttonNegative {
  background-color: black;
  color: white;
  border-color: black;
}

.confirmationBar {
  display: flex;
  background-color: rgb(235, 235, 235);
  width: 80vw;
  flex-direction: row;
  justify-content: right;

  margin: 10px;
  padding: 10px;

  @include border;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgb(100, 100, 100);
}

.allUsersOrders {
  display: flex;
  background-color: rgb(235, 235, 235);
  width: 80vw;
  flex-direction: row;

  margin: 10px;
  padding: 10px;

  @include border;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgb(100, 100, 100);

  p {
    margin: 2px;
    font-family: 'TT-Norms-Regular';
    font-variant-ligatures: none;
  }

}

li {
  margin: 3px 0px 3px 0px;
  font-family: 'TT-Norms-Regular';
  font-variant-ligatures: none;
}

.totalPrice {
  margin-top: 10px;
}